<h3><%= @post.title %></h3>
<img src="<%= @post.image_url %>" alt="<%= @post.title %> photo" height="200" width="200"><br>
<strong><%= @post.created_at %></strong>
<p><%= @post.description %></p>
<p>By: <%= @post.user.name %></p>
<br><br>


<% if authorized_to_edit?(@post) %>
<a href="/posts/<%= @post.id %>/edit">Edit Post</a>

  <form class="" action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Post">
  </form>
 <% end %>
