<h3><%= @post.title %></h3>
<img src="<%= @post.image_url %>" alt="<%= @post.title %> photo" height="200" width="200"><br>
<strong><%= @post.created_at %></strong>
<p><%= @post.description %></p>
<p>By: <%= @post.user.name %></p>
<br><br>
